 .u-section-1 {
  min-height: 409px;
}

.u-section-1 .u-shape-1 {
  height: 409px;
  margin-top: 1px;
  margin-bottom: 0;
  background-image: linear-gradient(to right, #9e4cec, #478ac9);
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  width: 340px;
  margin: -57px auto 0;
}

.u-section-1 .u-image-1 {
  height: 299px;
  margin-top: -374px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 113px;
  height: 113px;
  background-image: url("images/231512523_789582555032063_310452334541238686_n.jpg");
  background-position: 50% 50%;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -68px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  width: 187px;
  margin: 38px auto 14px;
}.u-section-2 .u-sheet-1 {
  min-height: 726px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 552px;
  margin-top: 30px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 4px 4px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 784px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2526px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1655px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1481px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 423px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 675px;
  margin: 23px auto 0;
}

.u-section-3 .u-text-2 {
  width: 599px;
  margin: 46px auto 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 44px auto;
  padding: 15px 64px 15px 62px;
}

.u-section-3 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: 675px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: -80px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: -29px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 44px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 518px;
}

.u-section-4 .u-text-1 {
  margin: 81px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -58px;
  margin-bottom: 59px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-4 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  width: 123px;
  margin: 21px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 239px;
  height: 239px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  width: 178px;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-3 {
  padding: 23px 0;
}

.u-section-4 .u-image-3 {
  width: 281px;
  height: 281px;
  margin: 37px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  width: 224px;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 212px;
    height: 212px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    width: 240px;
    height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}